* {
   font-family: carlito, sans-serif;
}

body {
   width: 100%;
   margin: auto;
}

a:link {
   text-decoration: none;
   color: #033576;
 }
 
 a:visited {
   text-decoration: none;
   color: #033576;
 }
 
 a:hover {
   text-decoration: underline;
   color: orange;
 }
 
 a:active {
   text-decoration: underline;
   color: #033576;
 }

 /* Header section */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 7rem;
   width: 100%;
}

#logo {
   width: 4rem;
   height: 4rem;
}

#logo-name {
   font-family: radley, sans-serif;
   font-style: italic;
   margin-left: 0.5rem;
   font-weight: lighter;
   font-size: 28pt;
}

#logo-section {
   display: flex;
   align-items: center;
   margin-left: 1rem;
}

#navigation {
   display: flex;
   width: 22rem;
}

#links {
   margin: auto;
}

li {
   list-style: none;
   display: inline-block;
   margin: auto 1rem;
   font-size: 16pt;
}

/* Projects Section */
#section-one {
   width: 100%;
   height: 40rem;
   background-color: #033576;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

#projects-header {
   color: white;
   font-size: 50pt;
   text-align: center;
   font-family: radley, sans-serif;
   font-weight: lighter;
}

#projects-p {
   color: white;
   font-size: 20pt;
   width: 60rem;
   text-align: center;
}

#section-two {
   height: 100rem;
   width: 100%;
}

#projects-board {
   width: 75rem;
   height: 95rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin: -15rem auto auto auto;
}

.board-heading {
   text-align: center;
   font-family: radley, sans-serif;
   font-size: 36pt;
   font-weight: lighter;
}

.board-paragraph {
   text-align: center;
   font-family: carlito, sans-serif;
   font-size: 22pt;
   margin-top: -1.5rem;
   font-weight: lighter;
   color: #033576;
}

.board-btn {
   width: 25rem;
   height: 4rem;
   font-size: 22pt;
   color: white;
   background-color: #033576;
   border-radius: 40px;;
}

.board-img {
   width: 20rem;
   height: 20rem;
   margin: auto;
}

.board {
   width: 34rem;
   height: 28rem;
   border-radius: 50px;
   background-color: #ebebeb;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

/* Footer Section */
footer {
   height: 10rem;
   width: 100%;
   background-color: #033576;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#footer-image {
   height: 10rem;
   width: 25rem;
}

.footer-connecting {
   height: 5rem;
   width: 5rem;
   margin-right: 1rem;
}

#connect {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-right: 3rem;
   color: white;
}